@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UnAuthorize";
}
<div class="text-center">
    <h1 class="display-4">You Are Not Authorize!</h1>
    <a href="/Home/Login" class="btn btn-success"><i class="fa fa-bars"></i> Login</a>
        <a href="/Home/Registration" class="btn btn-success"><i class="fa fa-bars"></i> Register</a>

</div>